<header class="header">
    <h1 class="header__title">Состояние сервисов</h1>
    <div class="header__btn">
        <button class="btn" (click)="refresh()" [class.is-loading]="isRefreshing">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
        </button>
        <button class="btn" (click)="logout()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
        </button>
    </div>
</header>

<section class="list" *ngIf="data.length > 0">
    <app-extra-table *ngFor="let item of data" [item]="item"></app-extra-table>
    <div *ngIf="!data">
        <span class="spinner-border spinner-border-lg align-center"></span>
    </div>
</section>

<button
    class="btn btn--more"
    *ngIf="start < total && !isLoading"
    (click)="loadMore()"
>
    <span class="btn__text">Загрузить ещё</span>
    <span class="btn__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download-cloud"><polyline points="8 17 12 21 16 17"></polyline><line x1="12" y1="12" x2="12" y2="21"></line><path d="M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29"></path></svg>
    </span>
</button>

<span class="spinner" *ngIf="data.length === 0 || isLoading"></span>